<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lista Territorios</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}" ></script>
        <script th:src="@{/js/bootstrap.min.js}" ></script>
    </head>
    <body class="container">
        <h2>Lista Territorios</h2>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/territory/nuevo'}">Nuevo Territorio</a>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
        <table class="table table-sm">
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Región ID</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="terri : ${listaTerri}">
                <td th:text="${terri.id}"></td>
                <td th:text="${terri.territorydescription}"></td>
                <td th:each="region : ${listaRegions}" th:if="${region.regionid == terri.regionid}" th:text="${region.regiondescription}"></td>
                <td><a class="btn btn-primary" th:href="@{'/territory/editar' + '?id=' + ${terri.id}}">Editar</a>
                </td>
                <td><a class="btn btn-danger" th:href="@{'/territory/delete' + '?id=' + ${terri.id}}">Borrar</a>
                </td>
            </tr>
        </table>
    </body>
</html>