<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Nuevo Territory</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <h2>Nuevo Territory</h2>
        <hr/>
        <form method="post" th:action="@{'/territory/save'}">
            <div class="form-group">
                <label for="territorydescription">Descripción del territorio</label>
                <input name="territorydescription" type="text" class="form-control" id="territorydescription">
            </div>
            <div class="form-group">
                <label for="phone">Teléfono</label>
                <input name="phone" type="text" class="form-control" id="phone">
            </div>
            <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </body>
</html>